body{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color:$d-blue;
}

#title-div{
    text-align:center;
    padding:40px;
    color:$d-blue;
    h2{
        font-weight: 200;
        font-size:1.9rem;
        margin-bottom: 10px;
    }
    h1{
        font-weight: 600;
        font-size:1.9rem;
        margin-top:0px;
    }
    p{
        font-weight: 400;
        color:$g-blue;
        font-size:1.1rem;
        line-height:1.5;
    }
}

.row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

#cards-list{
    justify-content: space-between;
    padding:40px;
}

.limited{
    max-width: 1140px;
    margin: auto;
}

.small-12{
    flex-basis:100%;
}

.listed-card{
    margin-top:30px;
    padding: 0px 25px 25px 25px;

    border-radius: 5px;
    border-top: 5px solid;

    box-shadow: 1px 14px 24px -13px #919093;

    display:flex;
    flex-wrap: wrap;

    > * {
        width:100%
    }

    img{
        width:20%;
    }

    .card-img{
        display:flex;
        padding: 10px 5px;
        justify-content:flex-end;
    }
    &[id="supervisor"]{
        border-top-color: $cyan;
    }
    &[id="team-builder"]{
        border-top-color: $red;
    }
    &[id="karma"]{
        border-top-color: $orange;
    }
    &[id="calculator"]{
        border-top-color: $blue;
    }
    h3{
        font-weight: 600;
    }

    p{
        color:$g-blue;
    }
}